:root {
    --primary-bg-color: #161616;
    --primary-color: #e5e5e5;
    --secondary-bg-color: #202020;
    --marginSize: 25rem;
}

@font-face {
    font-family: 'JetBrains';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-Bold';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Darumadrop One';
    src: url('/fonts/DarumadropOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerif-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    background-image:
        linear-gradient(90deg, var(--secondary-bg-color) 2px, transparent 1px),
        linear-gradient(180deg, var(--secondary-bg-color) 2px, transparent 1px);
    background-size: 30px 30px;
}


html {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'JetBrains', monospace;
    line-height: 1.8;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
}

@media (max-width: 600px) {
    main {
        padding: 20px 15px;
    }
}

a:not([class]) {
    text-decoration: none;
    background-color: #ae3f5c;
    color: var(--primary-bg-color);
    transition: all 0.4s ease;
}

a:not([class]):hover {
    background-color: #733445;
    color: white;
}

a:not([class]) i {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    display: inline-block;
}
.badges{
text-decoration: none;
}
li {
    margin-left: 6%;
}

h1 {
    font-family: 'Darumadrop One', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
    line-height: 1;
}

footer {
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    padding: 24px 8px;
}

.Box {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    border-radius: 10px 10px;
    padding: 0 2%;
    border:medium solid var(--secondary-bg-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 0px 40px 20px rgb(16, 16, 16);
}

.Box-MD {
    margin-top: 5%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 1% 2%;
    border:medium solid var(--secondary-bg-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 0px 40px 20px rgb(16, 16, 16);
}

.date {
    font-family: 'NotoSerif', serif;
}

.reveal-link, .box-link {
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.reveal-link {
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px dashed #cccccc00; 
}

.reveal-link:hover {
    border-color: #FF5582;
    background-color: rgba(255, 85, 130, 0.05); 
}


.box-link {
    border-radius: 3px 3px;
    padding: 2px 2px;
    background-color: #ae3f5c; 
    color: var(--primary-bg-color);
}

.box-link:hover {
    background-color: #733445;
    color: var(--primary-color);
}