.centered {
    padding-top: 5%;
    text-align: center;
}

.inline-heading {
    display: inline-block;
}

.pisca {
    animation-name: blinkingLine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blinkingLine {
    0% {
        color:var(--primary-color);
    }

    25% {
        color: #00000000;
    }

    50% {
        color: var(--primary-color);
    }

    70% {
        color: #00000000;
    }

    100% {
        color: var(--primary-color);
    }

}

.nav-link-Big{
    margin-left:0%;
    margin-right:3%;
}