
.dark-mode {
    --text-primary: #ececec;
    --text-secondary: #b6b6b6;
    --bg-primary: #141418;
    --bg-secondary: #23232e;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

html{
    background-image:
    linear-gradient(90deg, rgb(48,48, 48) 3px, transparent 1px),
    linear-gradient(180deg, rgb(48, 48, 48) 2px, transparent 1px);
    background-size: 30px 30px; /* Adjust grid size */
}

.backgroundColor{
    background-color: #161616;
}